/* =============================================================================
   Normalize Styles
   ========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #5d5d5d; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #7fcecf; color: #fff; text-shadow: none; }
::selection { background: #7fcecf; color: #fff; text-shadow: none; }

a { color: #abc73c; text-decoration: none; }
a:visited { color: #abc73c; }
a:hover { text-decoration: underline; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
body { background: url(../img/bg-body.jpg) repeat 0 0;}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

#nav-prime { 
  position: relative;
  height: 100px;
  padding-top: 18px;
  margin: 0 0 10px;
  background: url(../img/bg-nav-primary.gif) repeat-x 0 bottom; 
}
#nav-prime ul { 
  width: 920px;
  margin: 0 auto;
}
#nav-prime ul li {
  float: left;
}
#nav-prime ul li a {
  display: block;
  height: 58px;
  padding: 12px 44px;
  font-family: "adobe-garamond-pro", sans-serif;
  font-variant: small-caps;
  font-size: 24px;
  text-decoration: none;
  color: #8d8d8d;
}
#nav-prime ul li a:hover {
  background: url(../img/bg-nav-primary-li-hover.gif) repeat-x 0 0;
}

#date-ribbon {
  position: absolute;
  left: -110px;
  bottom: -16px;
  width: 220px;
  margin-left: 50%;
}

#footer-prime { 
  width: 960px;
  height: 304px;
  margin: -180px auto 60px;
  background: url(../img/bg-footer.png) no-repeat 0 0;
}

#page {
  min-height: 600px;
  background: url(../img/bg-page.png) no-repeat 0 0;
}

/* Content */
#content {
  width: 670px;
  margin: 0 auto;
  font-family: "adobe-garamond-pro", sans-serif;
}

#content h1 { 
  text-align: center; 
  margin: 55px 0 40px;
}
#content h3 { margin: 10px 0; }
#content p,
#content ol,
#content ul { 
  width: 320px; 
  margin: 0 auto; 
}
#content p { text-indent: 20px; line-height: 20px; }
#content p:first-of-type { text-indent:0; }
#content ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 1.5em;
}
#content ol li {
  position: relative;
  display: block;
  padding: .1em 0 .4em;
  *padding: .4em;
  margin: .25em 0;
  text-decoration: none;
  border-radius: .3em;
}
#content ol li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -30px;
  margin-top: -.15em;
  background: #abc73c;
  height: 2em;
  width: 2em;
  color: #fff;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
}

.ribbon {
  width: 100%;
  text-align: center;
}

/* Welcome */
#content.welcome { margin-top: 100px; }
#time-and-date {
  width: 500px;
  padding: 0 0 25px;
  margin-top: 25px;
  background: url(../img/bg-nav-primary.gif) repeat-x 0 bottom; 
  text-transform: uppercase;
}
#time-and-date p { line-height: 26px; font-size: 20px; }

#top-rule {
  height: 25px;
  background: url(../img/bg-nav-primary-li-hover.gif) repeat-x 0 top;
}

#month-day { 
  margin: 0; 
  color: #7fcecf; 
  font-variant: small-caps;
  font-size: 24px;
  line-height: 28px;
}
#numeric-date { 
  font-size: 40px;
  margin: 0; 
  color: #abc73a; 
  font-variant: small-caps;
  line-height: 34px;
}

/* Our Story */
#the-couple {
  padding-left: 9px;
  margin-bottom: 20px;
}

/* The Parties */
#col-1,
#col-2 {
  width: 335px;
  float: left;
}

#content .party-member { 
  margin: 30px 0; 
  height: 270px;
}
#content .party-member h3 { margin-bottom: 0; }

/* Travel */
.travel #content p { text-indent: 0; }

#map {
  position: relative;
  height: 430px;
  padding: 9px 9px 0 0;
  background: url(../img/bg-map.png) no-repeat center 0;
}

/* Registries */
#content #gift-registries {
  list-style: none;
  padding: 0;
  margin: 40px auto 0;
}
#gift-registries li { 
  text-align: center; 
  padding: 0 0 60px;
}
#gift-registries li#registry-amazon { padding-left: 12px; }




/* ==|== media queries ======================================================
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Alignment */
.aligncenter { text-align: center; margin: 10px auto; }
.alignleft { float: left; }
.alignright { float: right; }

/* Contain floats: h5bp.com/q */
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   ========================================================================== */

@media print {  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; }  a, a:visited { text-decoration: underline; }  a[href]:after { content: " (" attr(href) ")"; }  abbr[title]:after { content: " (" attr(title) ")"; }  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  thead { display: table-header-group; }  tr, img { page-break-inside: avoid; }  img { max-width: 100% !important; }  @page { margin: 0.5cm; }  p, h2, h3 { orphans: 3; widows: 3; }  h2, h3 { page-break-after: avoid; } }
